In [3]:
import numpy as np
import pandas as pd
import glob

In [6]:
files = glob.glob("*.csv")

In [10]:
files

['SHCI.csv',
 'molpro_energies.csv',
 'matts_ref_energies.csv',
 'dft_corrections.csv',
 'transition_metal_data.csv']

In [17]:
i=0
# Replace 'your_file.csv' with the path to your CSV file
file_path = files[i]

# Load the CSV file into a DataFrame
df_shci_1 = pd.read_csv(file_path)

df_shci_1

     system basis        SHCI  uncertainty
0         h    2z   -0.499278     0.000000
1         h    3z   -0.499810     0.000000
2         h    4z   -0.499946     0.000000
3         h    5z   -0.499995     0.000000
4        li    2z   -7.432420     0.000000
..      ...   ...         ...          ...
263  h_o_cl    5z -535.463443     0.000469
264    s_o2    2z -547.717542     0.000135
265    s_o2    3z -547.973214     0.000291
266    s_o2    4z -548.049552     0.000621
267    s_o2    5z -548.080079     0.000312

[268 rows x 4 columns]

In [18]:

# Replace 'your_file.csv' with the path to your CSV file
file_path = 'matts_ref_energies.csv'

# Load the CSV file into a DataFrame
df_shci_2 = pd.read_csv(file_path)

df_shci_2

,method,basis,charge,pseudopotential,system,totalenergy,totalenergy-stocherr,totalenergy-syserr,SHCIref,SHCIreferr,HFref,Number-of-determinants,beta,truncation-weight,trial-wavefunction,ncas,ncore,note
0,AFQMC(MD),vqz,0,trail,VO,-87.282400,0.001100,0.0,-87.288682,1.000000e-05,-86.408195,1306.0,NaN,0.001,tCASCSF,12.0,5.0,NaN
1,AFQMC(MD),vqz,1,trail,Cr,-86.517300,0.001100,0.0,-86.518670,1.764000e-06,-85.998616,26.0,NaN,0.001,tCASCSF,9.0,1.0,NaN
2,AFQMC(MD),vtz,1,trail,Cr,-86.472800,0.001100,0.0,-86.472980,2.010000e-07,-85.998584,26.0,NaN,0.001,tCASCSF,9.0,1.0,NaN
3,AFQMC(MD),vdz,1,trail,Cr,-86.370400,0.000700,0.0,-86.372410,4.600000e-08,-85.998408,44.0,NaN,0.001,tCASCSF,9.0,1.0,NaN
4,AFQMC(MD),v5z,0,trail,Cr,-86.782600,0.001200,0.0,-86.785320,0.000000e+00,-86.219110,17.0,NaN,0.001,tCASCSF,9.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089,iFCIQMC,vdz,0,trail,Sc,-46.396616,0.000002,0.0,-46.396850,5.400000e-08,-46.056720,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1090,iFCIQMC,vdz,1,trail,Sc,-46.156710,0.000001,0.0,-46.156830,0.000000e+00,-45.856512,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1091,iFCIQMC,vtz,1,trail,V,-70.919164,0.000062,0.0,-70.919550,1.620000e-07,-70.478706,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1092,iFCIQMC,vdz,0,trail,ScO,-62.419317,0.000017,0.0,-62.420040,9.920000e-06,-61.829343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1093,iFCIQMC,vqz,0,trail,Sc,-46.473197,0.000006,0.0,-46.474000,1.070000e-06,-46.057727,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
methods = set(())
for val in df_shci_2['method'].values:
    methods.add(val)
methods

{'AFQMC(MD)',
 'B3LYP',
 'CISD',
 'DMC(SD)',
 'DMRG',
 'GF2',
 'HF',
 'HF+RPA',
 'HSE06',
 'HSE06+RPA',
 'LDA',
 'MRLCC',
 'PBE',
 'QSGW',
 'SC-GW',
 'SCAN',
 'SEET(FCI/GF2)',
 'SHCI',
 'UCCSD',
 'UCCSD(T)',
 'iFCIQMC'}

In [39]:
filtered_df = df_shci_2[df_shci_2['method'] == 'SHCI']

ref_gse_df_2 = filtered_df[['system', 'charge', 'basis', 'totalenergy']]

ref_gse_df_3 = ref_gse_df_2.rename(columns={"totalenergy": "SHCI"})
ref_gse_df_3

    system  charge basis       SHCI
769    FeO       0   vdz -139.43599
770    CuO       0   vdz -213.12303
771    TiO       0   vtz  -74.03085
772     VO       0   vtz  -87.23526
773    CrO       0   vtz -102.71867
..     ...     ...   ...        ...
856     Mn       1   vqz -103.84272
857      O       0   v5z  -15.84317
858      O       1   v5z  -15.34479
859     Sc       0   v5z  -46.48213
860     Cu       1   vqz -197.25343

[92 rows x 4 columns]

In [40]:
ref_gse_df = df_shci_1[['system', 'basis', 'SHCI']]
ref_gse_df

     system basis        SHCI
0         h    2z   -0.499278
1         h    3z   -0.499810
2         h    4z   -0.499946
3         h    5z   -0.499995
4        li    2z   -7.432420
..      ...   ...         ...
263  h_o_cl    5z -535.463443
264    s_o2    2z -547.717542
265    s_o2    3z -547.973214
266    s_o2    4z -548.049552
267    s_o2    5z -548.080079

[268 rows x 3 columns]

In [77]:
shci_ref_db = pd.concat([ref_gse_df, ref_gse_df_3], ignore_index=True)

# Function to check if the entry is a float, convert to string if true, then concatenate
def process_row(row):
    if not pd.isna(row['charge']):  # Check if the entry is a float
        return f"{row['system']}_{str(row['charge'])}"  # Convert to string and concatenate
    else:
        return row['system']  # Return the first column entry as is

# Apply the function to each row
shci_ref_db['system'] = shci_ref_db.apply(process_row, axis=1)

shci_ref_db = shci_ref_db.drop(columns='charge')

shci_ref_db

     system basis        SHCI
0         h    2z   -0.499278
1         h    3z   -0.499810
2         h    4z   -0.499946
3         h    5z   -0.499995
4        li    2z   -7.432420
..      ...   ...         ...
355  Mn_1.0   vqz -103.842720
356   O_0.0   v5z  -15.843170
357   O_1.0   v5z  -15.344790
358  Sc_0.0   v5z  -46.482130
359  Cu_1.0   vqz -197.253430

[360 rows x 3 columns]

In [78]:
shci_ref_db.to_csv('shci_ref_es.csv', index=False)

## CCSD and CCSDT

In [ ]:
i=1
# Replace 'your_file.csv' with the path to your CSV file
file_path = files[i]

# Load the CSV file into a DataFrame
df_ccsd_1 = pd.read_csv(file_path)

ccsd_df = df_ccsd_1[df_ccsd_1['method'] == 'CCSD ']
ccsdt_df = df_ccsd_1[df_ccsd_1['method'] == 'CCSDT']
ccsd_df_2 = ccsd_df.rename(columns={"energy": "CCSD"})
ccsdt_df_2 = ccsdt_df.rename(columns={"energy": "CCSDT"})

ccsd_df_2 = ccsd_df_2.drop(columns='method')

ccsdt_df_2 = ccsdt_df_2.drop(columns='method')


filtered_df = df_shci_2[df_shci_2['method'] == 'UCCSD(T)']

ccsdt_2 = filtered_df[['system', 'charge', 'basis', 'totalenergy']]

ccsdt_3 = ccsdt_2.rename(columns={"totalenergy": "CCSDT"})
ccsdt_3


filtered_df = df_shci_2[df_shci_2['method'] == 'UCCSD']

ccsd_2 = filtered_df[['system', 'charge', 'basis', 'totalenergy']]

ccsd_3 = ccsd_2.rename(columns={"totalenergy": "CCSD"})
ccsd_3

In [67]:
df_ccsd_1[df_ccsd_1['method'] == 'CCSDT']

        system method   basis      energy
2            h  CCSDT      2z   -0.499278
5            h  CCSDT     2dz   -0.499278
8            h  CCSDT      3z   -0.499810
11           h  CCSDT     3dz   -0.499810
14           h  CCSDT      4z   -0.499946
...        ...    ...     ...         ...
1804    si2_h6  CCSDT  cbs45d -581.734389
1805   c_h3_cl  CCSDT  cbs45d -499.626035
1806  h3_c_s_h  CCSDT  cbs45d -438.220849
1807    h_o_cl  CCSDT  cbs45d -535.477167
1808      s_o2  CCSDT  cbs45d -548.100754

[670 rows x 4 columns]

In [69]:
df_ccsd_1[df_ccsd_1['method'] == 'CCSD ']

     system method basis      energy
1         h  CCSD     2z   -0.499278
4         h  CCSD    2dz   -0.499278
7         h  CCSD     3z   -0.499810
10        h  CCSD    3dz   -0.499810
13        h  CCSD     4z   -0.499946
...     ...    ...   ...         ...
1594   s_o2  CCSD    3dz -547.953125
1597   s_o2  CCSD     4z -548.008941
1600   s_o2  CCSD    4dz -548.017987
1603   s_o2  CCSD     5z -548.038147
1606   s_o2  CCSD    5dz -548.040181

[536 rows x 4 columns]

In [63]:
result_df = pd.concat([ccsd_3, ccsd_df_2], ignore_index=True)

result_df

    system  charge basis        CCSD
0       Cu     0.0   vtz -197.417404
1       Cr     0.0   vtz  -86.706591
2       Cr     1.0   vtz  -86.461552
3       Mn     0.0   vtz -104.047781
4       Mn     1.0   vtz -103.781465
..     ...     ...   ...         ...
623   s_o2     NaN   3dz -547.953125
624   s_o2     NaN    4z -548.008941
625   s_o2     NaN   4dz -548.017987
626   s_o2     NaN    5z -548.038147
627   s_o2     NaN   5dz -548.040181

[628 rows x 4 columns]

In [64]:
result_df = pd.concat([ccsdt_3, ccsdt_df_2], ignore_index=True)

result_df

       system  charge   basis       CCSDT
0          Fe     0.0     vdz -123.517339
1          Fe     1.0     vdz -123.233182
2          Cu     0.0     vdz -197.235506
3          Cu     1.0     vdz -196.966135
4           O     0.0     vtz  -15.826582
..        ...     ...     ...         ...
757    si2_h6     NaN  cbs45d -581.734389
758   c_h3_cl     NaN  cbs45d -499.626035
759  h3_c_s_h     NaN  cbs45d -438.220849
760    h_o_cl     NaN  cbs45d -535.477167
761      s_o2     NaN  cbs45d -548.100754

[762 rows x 4 columns]